.badge {
  display: inline-block;
  padding: var(--badge-padding-y) var(--badge-padding-x);
  font-weight: var(--badge-font-weight);
  font-size: var(--badge-font-size);
  line-height: var(--badge-line-height);
  font-family: var(--badge-font-family);
  text-align: center;
}

.square {
  border-radius: var(--badge-radius-square);
}

.pill {
  border-radius: var(--badge-radius-pill);
}

.gray {
  background-color: var(--gray-100);
  color: var(--gray-800);
}

.red {
  background-color: var(--red-100);
  color: var(--red-800);
}

.yellow {
  background-color: var(--yellow-100);
  color: var(--yellow-800);
}

.green {
  background-color: var(--green-100);
  color: var(--green-800);
}

.blue {
  background-color: var(--blue-100);
  color: var(--blue-700);
}

.indigo {
  background-color: var(--indigo-100);
  color: var(--indigo-800);
}

.purple {
  background-color: var(--purple-100);
  color: var(--purple-800);
}

.pink {
  background-color: var(--pink-100);
  color: var(--pink-800);
}