.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--card-gap);
  border-radius: var(--card-radius);
  background-color: var(--card-bg);
  padding: 0 var(--card-padding) var(--card-padding) var(--card-padding);
  max-width: min(24rem, 100%);
  max-height: fit-content;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--card-icon-shadow);
  border-radius: var(--card-icon-radius);
  background-color: var(--card-icon-bg);
  width: var(--card-icon-size);
  height: var(--card-icon-size);
}

.card-title {
  color: var(--card-title-color);
  font-weight: var(--card-title-weight);
  font-size: var(--card-title-size);
  line-height: var(--card-title-line-height);
  font-family: var(--card-font-family);
  text-align: center;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-content {
  color: var(--card-content-color);
  font-weight: var(--card-content-weight);
  font-size: var(--card-content-size);
  line-height: var(--card-content-line-height);
  font-family: var(--card-font-family);
  text-align: center;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}