.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 0.5rem;
  background-color: #F9FAFB;
  padding: 0 1.5rem 2rem 1.5rem;
  max-width: min(24rem, 100%);
  max-height: fit-content;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px -2px #0000000D;
  box-shadow: 0px 10px 15px -3px #0000001A;
  border-radius: 6px;
  background-color: #3F75FE;
  width: 3rem;
  height: 3rem;
}

.card-title {
  color: #111827;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter;
  text-align: center;
}

.card-content {
  color: #6B7280;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter;
  text-align: center;
}