.banner-wrapper {
    display: flex;
    gap: var(--banner-gap);
    border-radius: var(--banner-radius);
    padding: var(--banner-padding);
}

.banner-text-container {
    display: flex;
    flex-direction: column;
    gap: var(--banner-text-gap);
}

.banner-title {
    color: var(--banner-title-color);
    font-weight: var(--banner-title-weight);
    font-size: var(--banner-title-size);
    line-height: var(--banner-title-line-height);
    font-family: var(--banner-font-family);
}

.banner-content {
    color: var(--banner-content-color);
    font-weight: var(--banner-content-weight);
    font-size: var(--banner-content-size);
    line-height: var(--banner-content-line-height);
    font-family: var(--banner-font-family);
}

.banner-success {
    --banner-title-color: var(--green-800);
    --banner-content-color: var(--green-700);
    background-color: var(--green-50);
}

.banner-info {
    --banner-title-color: var(--blue-700);
    --banner-content-color: var(--blue-800);
    background-color: var(--blue-50);
}

.banner-warning {
    --banner-title-color: var(--yellow-800);
    --banner-content-color: var(--yellow-700);
    background-color: var(--yellow-50);
}

.banner-error {
    --banner-title-color: var(--red-800);
    --banner-content-color: var(--red-700);
    background-color: var(--red-50);
}